@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-gelasio);
}

#card-tag {
  font-family: var(--font-gelasio);
}

#footer-logo {
  font-family: var(--font-gelasio);
}

#content-body > table {
  width: 100%;
  white-space: nowrap; /* Prevent line breaks within table cells */
  overflow-x: auto; /* Enable horizontal scrollbar when needed */
  display: block; /* Make the table behave like a block element */
}